/* Efek halaman muncul (fade-in) */
body {
    opacity: 0;
    transition: opacity 0.6s ease;
}

body.fade-in {
    opacity: 1;
}

/* Efek saat halaman pergi (fade-out) */
.fade-out {
    opacity: 0;
    transition: opacity 0.6s ease;
}
